* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body {
  margin: 0;
  color: #fff;
  background-color: #11082B;
}

img {
  display: block;
  width: 100%;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

section:first-of-type {
  padding: 0;
}

@media screen and (max-width: 1220px) {
  section {
    padding: 20px 40px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  font-size: 30px;
  margin: 0 0 10px;
  font-weight: 300;
}

h4 {
  margin-bottom: 0;
}

.explanation {
  margin: 40px 0 0;
  font-family: monospace;
  padding: 0 10px 10px;
  border: 1px solid #b5b5b5;
  display: inline-block;
}

.explanation > div > p {
  display: inline-block;
  margin: 0 0 0 14px;
  line-height: 20px;
  padding: 0 10px;
}

.explanation > div > p:hover {
  background-color: #6140bf;
}


.info,
.twitter {
  position: fixed;
  top: 5px;
  right: 0;
  padding: 10px 10px 7px;
  z-index: 3;
  transition:
    opacity 300ms ease;
}

.info:hover,
.twitter:hover {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .info,
  .twitter {
    position: absolute;
    z-index: 2;
  }
}

@media screen and (max-width: 500px) {
 .info {
  right: 30px;
 } 
}

.twitter {
  top: 35px;
}

@media screen and (max-width: 500px) {
 .twitter {
  top: 5px;
 } 
}

.info svg,
.twitter svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.no-support {
  max-width: 1200px;
  margin: 30px auto 0;
  font-size: 23px;
  line-height: 1.5;
  background: #ff5b5b;
  padding: 20px;
}

@supports (display: grid) {
  .no-support {
    display: none;
  } 
}
