* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body {
  margin: 0;
  background-color: #11082B;
}

img {
  display: block;
  width: 100%;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

@media screen and (max-width: 700px) {
  section {
    padding: 20px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  font-size: 30px;
  margin: 0 0 10px;
  color: #fff;
  font-weight: 300;
}
