.masonry-2 ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [col] 20% [col] 20% [col] 20% [col] 20%;
}

.masonry-2 li {
  padding: 80px 0;
}

.masonry-2 li:nth-child(1) {
  grid-column: col / span 2;
  grid-row: row;
}

.masonry-2 li:nth-child(2) {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.masonry-2 li:nth-child(3) {
  grid-column: col;
  grid-row: row 2;
}

.masonry-2 li:nth-child(4) {
  grid-column: col 2 / span 3;
  grid-row: row 2;
}

.masonry-2 li:nth-child(5) {
  grid-column: col / span 4;
  grid-row: row 3;
}