.no-support {
  padding: 20px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  background-color: #fff;
  color: #1f3ac1;
}

@supports (display: grid) {
  .no-support {
    display: none;
  } 
}