.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  animation: slideIn 1000ms;
}

.navigation__link {
  display: block;
  padding: 0 8px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #1A32AB;
  transition: background-color 300ms ease;
}

.navigation__link svg {
  position: relative;
  top: 50%;
  transform: translate3d(0,-50%,0);
  width: 17px;
  transition: transform 300ms ease;
}

.navigation__link:hover {
  background-color: #172D9C;
}

.navigation__link:hover svg {
  transform: translate3d(-4px,-50%,0);
}
