.header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 50px 0;
  background-color: #232323;
  border-bottom: 1px solid #323232;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: opacity 300ms ease;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__link {
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
}